to jest strona logowania!<br/>
<form method="post" action="/auth">
 email: <input type="text" name="email" value="<%=params[:email] %>"></input><br/>
 pass: <input type="text" name="pass" value="<%=params[:pass] %>"></input><br/>
 <input type="submit" value="ok"></input>
</form>