/******** main elements ********/

body {
  width: 1000px;
  margin: 10px auto;

  background-color: #fff;
  font-family: arial, sans-serif;
  font-size: 13px;
}

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }



/******** main frames ********/
#header {
  
}

#main_frame {
  clear: both;
  padding: 10px 5px;
}

#footer {
  clear: both;
  background-color: #eee;
  padding: 5px;
  text-align: center;
}



/******** header elements ********/

#page_name {
  float: left;
  width: 40%;
  font-size: 3em;
  background-color: #9ff;
  padding: 20px;
}

#page_name a {
  color: black;
  background-color: #9ff;
  text-decoration: none;
}

#person_nav {
  float: right;
  width: 40%;
  text-align: right;
  font-style: italic;
}

#informations {
  clear: both;
  text-align: center;
  font-weight: bold;
  background-color: yellow;
}

.notice {
  color: green;
}

.alert {
  color: red;
}


/******** main frame elements ********/

#tasks_list {
  float: left;
  width: 27%;
  padding: 10px;
}

#new_task_link {
  padding: 10px;
  font-weight: bold;
}

#tasks_right_panel {
  float: right;
  width: 67%;
}

#tasks_selection_menu {
  font-size: 1.1em;
}

#tasks_selection_menu a {
  background-color: #ff9;
  text-decoration: none;
  color: green;
}

#calendar {
  display: block;
  padding: 10px;
}

#workspace {
  display: none;
  padding: 10px;
}






/******** old styles ********/
/*

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }



div {
  &.field, &.actions {
    margin-bottom: 10px; } }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
*/